@font-face {
    font-family: 'Avenue';
    src: url('font/5thAvenue.ttf') format(truetype);
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Avenue', sans-serif;
    margin: 0;
    padding: 0;
}

div.polygon {
    background-color: #593520;
    clip-path: polygon(0 0, 34% 0, 64% 61%, 43% 100%, 0 100%);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 900px;
    height: 115vh;
    box-shadow: inset 0px 1px 15px;
}

.banner {
    width: 100%;
    height: 100%;
    max-height: 115vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Backgrownd Video */

.banner video {
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* Browser */

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
}

.colunm-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
}

.nav-scrolled {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

nav ul {
    float: right;
    margin-left: auto;
}

nav li {
    list-style: none;
    float: left;
    margin: 0 30px;
}

nav li a {
    text-decoration: none;
    color: #593520;
    font-size: 20px;
    transition: all 0.5s;
}


#logo {
    margin-left: 4em;
    width: 100px;
    transition: all 0.5s;
}

/* Hamburguer */

.hamburguer {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
    margin: 25px 25px;
    background: #FFF;
}

.hamburguer:hover {
    background: #59352069;
}

.hamburguer div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #29180f;
}

@media only screen and (max-width: 1100px) {

    nav {
        width: 90%;
        padding: 0 20px;
        position: fixed;
        left: -320px;
        top: 0;
        width: 280px;
        height: 120vh;
        background-color: #FFF;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
    }

    #nav_check:checked ~ nav{
        left: 0;
    }

    nav #Icon {
        display: block;
        height: fit-content;
        display: flex;
        align-items: center;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
        width: 100%;
    }
    

    nav ul a {
        font-size: 25px;
        margin: 10px 10px;
    }

    .colunm-nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    .hamburguer {
        display: block;
        position: fixed;
        left: 0.5em;
    }

}

/* Main containt */

.containt img{
    position: absolute;
    width: 24em;
    top: 2.5em;
    margin: 40px;
}

.containt p {
    font-family: 'lora', serif;
    font-size: 16px;
    line-height: 25px;
    position: absolute;
    color: #FFF;
    top: 380px;
    width: 450px;
    margin: 20px 50px;
}

.containt button {
    position: absolute;
    background-color: #FFF;
    top: 27em;
    left: 50px;
    text-decoration: none;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: 900;
    width: 300px;
    height: 50px;
    border: 5px solid #D9C8BF;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}

.containt button a, .slide button a, #cookers button a {
    text-decoration: none;
    color: #29180f;
}

.containt button:hover {
    transform: translateY(-10px);
}

/* Details Location And Rate */

section#details {
    background-color: #A68A7B;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.521);
}

.location, .michelin-star, .rate {
    width: 400px;
    text-align: center;
    color: #29180f;
    margin: 40px 10px;
    border-left: 1px solid #021226;
    border-right: 1px solid #021226;
}

.location {
    border-left: none;
}

.michelin-star {
    border: none;
}

.rate {
    border-right: none;
}

.michelin-star h2, .rate p {
    margin: 0;
}

.michelin-star p {
    margin: 0;
    font-family: 'Lora', sans-serif;
    font-weight: 500;
}

.location p, .rate p {
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
 
.location strong {
    font-family: 'Avenue', sans-serif;
}

#details .michelin-star img, .location img, .rate img {
    width: 40px;
}

.rate .fa-star, .rate .fa-star-half-alt {
    color: #29180f;
}

/* Dishers Section */

#dishers {
    margin-top: 250px;
}

#dishers img {
    z-index: 1;
    border-radius: 50%;
    width: 500px;
    margin: 50px;
}

.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slide {
    display: flex;
    z-index: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    align-items: center;
}

.slide h2 {
    color: #593520;
    font-size: 50px;
    margin: 0 40px 0 0;
    line-height: 50px;
}

.slide span, .slide p {
    font-family: 'Lora', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-right: 50px;
}

.fa-star, .fa-star-half-alt {
    color: #593520;
}

.slide button {
    background-color: #FFF;
    text-decoration: none;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: 900;
    width: 200px;
    height: 50px;
    border: 3px solid #593520;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    margin-top: 20px;
}


.slide.active {
    opacity: 1;
    clip-path: circle(150% at 0 50%);
    transition: 0.5s;
}

.slider .navigation {
    z-index: 0;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.slider .navigation .btn {
    background-color: #D9C8BF;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.slider .navigation .btn.active {
    background-color: #593520;
    box-shadow: 0 0 2px;
}

/* About us section */

#about-us  {
    background-image: url(images/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: left;
    height: 46em;
}

#about-us .content {
    background-color: hsla(21, 25%, 80%, 0.815);
    width: 32em;
    text-align: justify;
    border-radius: 20px;
    place-items: center;
    margin: 3em 5em;
    height: 38em;
}

#about-us h1 {
    text-align: center;
    font-size: 50px;
    color: #29180f;
    margin: 0 0 0.3em 0;
}

#about-us p {
    margin: 10px 3em;
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

/* Cooks section */

#cookers {
    background-color: #A68A7B;
    color: #29180f;
    width: 100%;
    height: fit-content;
    display: flex;
    font-size: 20px;
    line-height: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.521);
}

#cookers .image {
    margin: 1.8em;
    width: 40em;
}
/* 
#cookers .content {
    width: auto;
} */

#cookers img{
    width: 8em;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.5s;
}

#cookers img:hover {
    transform: translateY(-10px);
}

#cookers button {
    background-color: #FFF;
    text-decoration: none;
    font-family: 'Lora';
    font-size: 20px;
    font-weight: 900;
    width: 200px;
    height: 50px;
    border: 3px solid #593520;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    margin-top: 20px;
}

#cookers button:hover {
    transform: translateY(-10px);
}

/* Gallery section */

#gallery {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 4em;
    gap: 2em;
    justify-content: center;
}

#gallery .content{
    background-color: #59352018;
    border-radius: 20px;
    margin: 3em auto;
    width: 90%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#gallery .content h2 {
    text-align: center;
    font-size: 35px;
    color: #29180f;
    margin: 0;
}

#gallery .content p {
    font-family: 'Lora', sans-serif;
    text-align: justify;
    margin: 10px 2em;
    font-size: 20px;
}

#gallery .img-gallery {
    column-count: 3;
    width: 60em;
    margin: auto;
}

#gallery .img-gallery img {
    width: 19em;
    margin: 5px;
    transition: 0.5s;
    border-radius: 5px;
}

#gallery .img-gallery img:hover {
    transform: translateY(-10px);
}

#gallery img.wide {
    width: 39.5em;
    height: 11.2em;
    object-fit: cover;
    object-position: center;
}

/* Footer section */

footer {
    background-color: #D9C8BF;
    border-top: 2px solid #593520;
    margin: 0;
}

#footer-main {
    display: flex;
    justify-content: space-around;
}

#footer-main .info {
    width: 400px;
}

#footer-main h3 {
    margin: 0;
    font-size: 20px;
    color: #593520;
}

#footer-main p, .social-media li a p {
    font-family: 'Lora', sans-serif;
    font-size: 20px;
    color: #29180f;
}

.social-media {
    margin: 20px;
}

.social-media ul {
    padding: 0;
}

.social-media li {
    display: block;
    font-size: 30px;
    list-style: none;
}

.social-media li a {
    display: flex;
    text-decoration: none;
    color: #593520;
    place-items: center;
}

.social-media li a p {
    margin-left: 10px;
}

h4{
    text-align: center;
    margin: 0;
    color: #593520;
}

/* 

Reserve page 

*/

#reserve {
    margin-top: 0;
    height: 1000px;
    background-image: url(images/callum-shaw-Vrztewqmi4Q-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reserve h2 {
    font-size: 40px;
}

#reserve .content {
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 250px;
}

#reserve .content h3 {
    font-size: 30px;
    color: #593520;
    margin: 0;
}

#reserve .form-row select {
    width: 200px;
    height: 40px;
    text-decoration: none;
    font-weight: 600;
    color: #593520;
    font-family: 'Lora', sans-serif;
    border: 1px solid #29180f;
    border-radius: 5px;
    margin: 10px 5px;
}

#reserve .form-row input {
    width: 192px;
    height: 34px;
    text-decoration: none;
    font-weight: 600;
    color: #593520;
    font-family: 'Lora', sans-serif;
    border: 1px solid #29180f;
    border-radius: 5px;
    margin: 10px 5px;
}

#reserve .form-row input#submit {
    width: 200px;
    height: 40px;
    cursor: pointer;
}

nav li a{
    color: #593520;
}

/* 

Menu Page 

*/

#menu {
    margin: 150px 20px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}

#menu img {
    position: relative;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.food-itens {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    width: 400px;
    background-color: #D9C8BF;
    box-shadow: 0 0 15px ;
    margin-bottom: 10px;
}

#menu .content {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

#menu .content p {
    margin: 0;
}

#menu .title-price {
    display: flex;
    align-items: center;
    font-size: 15px;
}

#menu .title-price h2 {
    margin: 0;
}

#menu .title-price span {
    text-align: right;
    margin-left: auto;
}

#menu .stars {
    margin: auto;
}

/* 

Chefs page 

*/

#manutention {
    display: grid;
    place-items: center;
}


@media screen and (max-width: 1024px) {
    
    div.polygon {
        width: 700px;
        height: 101vh;
    }

    .containt img {
        width: 300px;
        top: 30px;
    }

    .containt p {
        width: 350px;
        top: 300px;
    }

    .containt button {
        width: 250px;
        top: 22em;
    }

    /* Slide section */

    #dishers img {
        width: 400px;
    }

    /* About us section */

    #about-us h1{
        font-size: 35px;
    }

    #about-us p {
        font-size: 19px;
    }

    /* cookers section */

    #cookers {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #cookers .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    #cookers img {
        width: 9em;
        margin-top: 20px
    }

    #cookers .content {
        display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
    }

    #cookers .content button {
        margin-bottom: 1em;
    }

    /* Gallery section */

    #gallery .content {
        height: fit-content;
        justify-content: center;
        border-radius: 10px;
    }

    #gallery .content h2 {
        margin: 10px;
    }

    #gallery .content p {
        font-size: 16px;
    }

    #gallery .img-gallery {
        width: 520px;
        align-items: flex-start;
    }

    #gallery .img-gallery img {
        width: 175px;
    }

    #gallery .img-gallery img.wide {
        width: 355px;
        height: 102.67px;
    }

    /* Footer section */

    footer img {
        width: 300px;
        margin: 15px;
    }

    .social-media {
        margin: 0;
    }

}

@media screen and (max-width: 900px) {
    
    div.polygon {
        width: 500px;
        height: 550px;
    }

    .containt img {
        width: 200px;
        top: 15px;
    }

    .containt p {
        font-size: 15px;
        width: 240px;
        top: 200px;
        left: 25px;
        margin: 10px;
    }

    .containt button {
        width: 190px;
        height: 40px;
        top: 360px;
        left: 25px;
        border: 2px solid #A68A7B;
    }

    .containt button a {
        font-size: 15px;
    }

    /* Details section */

    #details .michelin-star img, .location img, .rate img {
        width: 30px;
    }

    #details p {
        font-size: 15px;
    }

    /* Dishers section */

    #dishers {
        height: 1050px;
    }

    #dishers .content {
        text-align: center;
    }

    #dishers .content h2 {
        margin: 0;
    }

    #dishers .content span {
       display: none;
    }

    .slider {
        height: 1050px;
    }

    .slide {
        flex-direction: column;
    }

    #dishers img {
        width: 500px;
    }

    /* About us section */

    #about-us {
        height: 900px;
    }

    #about-us .content {
        height: fit-content;
    }

    /* Cooks section */

    #cookers {
        height: 350px;
    }

    #cookers .content {
        width: 500px;
    }

    #cookers img {
        width: 150px;
    }

    /* Gallery section */

    #gallery {
        flex-direction: column;
        align-items: center;
    }

    #gallery .content {
        width: 650px;
        border-radius: 20px;
    }

    #gallery .content h2 {
        text-align: center;
    }

    #gallery .img-gallery {
        margin: 20px;
        width: 650px;
    }

    #gallery .img-gallery img {
        width: 200px;
    }

    #gallery .img-gallery img.wide {
        width: 425px;
        height: 117.34px;
    }

    /* Footer section */

    Footer img {
        width: 200px;
    }

}

@media screen and (max-width: 768px) {
    
    div.polygon {
        height: 450px;
    }

    #dishers .content p {
        margin: 2em;
    }

    #about-us {
        justify-content: center;
        height: fit-content;
    }

    #about-us h1 {
        font-size: 50px;
    }

    #cookers {
        height: fit-content;
    }

    #cookers .image {
        margin-top: 1em;
    }

    #cookers .content {
        text-align: center;
    }

    #gallery .img-gallery {
        margin: auto;
    }

}

@media screen and (max-width: 600px) {

    div.polygon {
        display: none;
    }

    .containt img {
        width: 12em;
        top: 2em;
        margin: 0 40px;
    }

    .containt p {
        top: 8em;
        display: none;
    }

    .containt button {
        top: 10em;
        left: 2em;
    }

    #cookers img {
        width: 6.5em;
    }

    #gallery .content {
        width: 90%;
    }

    #gallery .img-gallery {
        width: 30em;
    }

    #gallery .img-gallery img {
        width: 10em;
    }

    #gallery .img-gallery img.wide {
        width: 20.5em;
        height: 5.9em;
    }

}

@media screen and (max-width: 430px) {

    label.hamburguer {
        margin: 10px 0;
    }

    .slider .navigation {
        bottom: 20px;
    }
    
    .banner video {
        height: 1000px;
    }

    div.polygon {
        display: none;
    }

    .containt {
        display: grid;
        place-items: center;
    }

    .containt img {
        width: 20em;
        margin: auto;
    }

    .containt p {
        display: block;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin: 0;
        max-width: 15em;
        width: 100%;
        font-size: 25px;
        line-height: 25px;
    }

    .containt button {
        top: 500px;
        max-width: 15em;
        width: 100%;
        height: 50px;
        left: 50%;
        margin: 0;
        transform: translateX(-50%);
    }

    .containt button a {
        font-size: 20px;
    }

    /* Details section */

    section#details {
        flex-direction: column;
        height: 600px;
    }

    .location, .michelin-star, .rate {
        margin: auto;
    }

    #details .michelin-star img, .location img, .rate img {
        width: 50px;
    }

    .location {
        border: none;
        width: 100%;
    }

    .michelin-star {
        border-top: 1px solid #021226;
        border-bottom: 1px solid #021226;
        width: 100%;
    }

    .michelin-star img {
        margin-top: 30px;
    }
    
    .michelin-star p {
        margin-bottom: 30px;
    }

    .rate {
        border: none;
        width: 100%;
    }


    /* Dishers section */

    #dishers {
        margin-top: 600px;
        height: fit-content;
    }

    #dishers img {
        width: 18em;
        margin: 2em 0;
    }

    .slider {
        height: 920px;
    }

    .slide h2 {
        font-size: 30px;
    }

    .slide p {
        margin: 20px 15px;
    }

    /* About us section */

    #about-us .content {
        width: 100%;
        margin: 0;
        padding-bottom: 2em;
        border-radius: 0;
    }


    /* Cookers section */

    #cookers {
        flex-direction: column-reverse;
        justify-content: start;
        height: fit-content;
        width: 100%;
    }

    #cookers .content {
        width: 100%;
    }

    #cookers h2 {
        text-align: center;
        margin: 20px 10px;
    }

    #cookers button {
        margin: 0 25% ;

    }

    #cookers .image {
        place-items: center;
        display: flex;
        flex-direction: column;
        width: 10em;
        margin: 1em 0;
    }

    #cookers .image img {
        margin: 0.5em 0;
        width: 200px;
    }

    /* Gallery section */

    #gallery {
        width: 100%;
    }

    #gallery .content {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    #gallery .img-gallery {
        width: 95%;
        column-count: 2;
        justify-content: center;
    }

    #gallery .img-gallery img {
        width: 95%;
        margin: 0;
    }

    #gallery .img-gallery img.wide {
        width: 95%;
        height: 10em;
    }

    /* Footer section */

    #footer-main {
        flex-direction: column;
    }

    #footer-main .footer-img {
        display: grid;
        place-items: center;
    }

    #footer-main img {
        width: 18em;
    }

    #footer-main .footer-img img {
        width: 18em;
        margin: 1em;
    }

    #footer-main .info {
        width: 95%;
        margin: 0 0 0 1em;
    }

    #footer-main .info, #footer-main .social-media {
        margin: 15px;
    }

    /* 
    
    Reserve Page 
    
    */

    #reserve .content {
        width: 100%;
    }

    #reserve .form-row select {
        width: 300px;
    }

    #reserve .form-row input {
        width: 294px;
    }

    #reserve .form-row input#submit {
        width: 300px;
    }

}

@media screen and (max-width: 375px) {

    /* Details section */

    .michelin-star, .location, .rate {
        width: 100%;
    }

    /* Dishers section */

    #dishers img {
        margin: 35.5px;
    }

    /* About us section */

    #about-us p {
        margin: 1.5em;
    }

    /* Cookers section */

    #cookers .image {
        width: 100%;
    }

    #cookers button {
        margin: 0 90px;
    }

    /* Gallery section */


    #gallery .img-gallery {
        width: 100%;
    }

    #gallery .img-gallery img {
        width: 175px;
    }

    #gallery .img-gallery img.wide {
        width: 175px;
    }

    /* Footer section  */

    

    

    /* 
    
    Reserve Page 
    
    */

    #reserve h2 {
        margin: 0 10px;
        text-align: center;
    }

}

@media screen and (max-width: 320px) {

    .containt p {
        font-size: 18px;
    }

    /* Dishers section */

    #dishers img {
        width: 15em;
        margin: 5%;
    }

    /* About us section */

    #about-us p {
        font-size: 16px;
    }

    /* Cookers section */


    #cookers button {
        margin: 0 60px;
    }

    /* Gallery section */


    #gallery .img-gallery {
        column-count: 1;
    }

    #gallery .img-gallery img, #gallery .img-gallery img.wide {
        width: 300px;
        margin: 0 3%;
    }

    /* Footer section */

    #footer-main img {
        width: 250px;
    }

    /* 
    
    Reserve Page 
    
    */

    #reserve .form-row select {
        width: 290px;
    }

    #reserve .form-row input {
        width: 284px;
    }

    #reserve .form-row input#submit {
        width: 290px;
    }

}
